@use "@/assets/sass/abstracts/variables" as *;
@use "@/assets/sass/abstracts/typography" as *;

.l-restaurants {
  container-type: inline-size;
  padding: clamp(7rem, 9cqi, 9rem) 0;

  & h2 {
    @include Poppins2-2rem;
    color: $black-1;
  }
}
